@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 280px;
        min-height: 2002px;
    }
}

@media (min-width: 768px) {
    .navbar-static-side {
        z-index: 2001;
        position: absolute;
        width: 280px;
    }
}

ul.info {
    list-style: none;
    padding: 20px;
    border: 1px solid #a4b1bc;
    width: 225px;
    margin-left: 24px;
    margin-top: 120px;
    color: #a4b1bc;
    text-align: left;
}

ul.info li {
    padding-bottom: 10px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 15px 20px 15px;
}