@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Light.eot');
    src: url('fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/AvenirLTStd-Light.woff2') format('woff2'),
    url('fonts/AvenirLTStd-Light.woff') format('woff'),
    url('fonts/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


body {
    font-family: 'Avenir LT Std'!important;
    font-weight: 300;
    font-style: normal;
    color: #555657;
    font-size: 15px;
    line-height: 22px;
}


table {
    width: 794px;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Avenir LT Std'!important;

}

td {
    vertical-align: top;
}

table.one {
    text-align: center;
}

table.internal {
    width: 694px;
    margin: auto;
    margin-bottom: 50px;

}

table.inside {
    margin: 10px 0px;
}

table.inside td {
    border: 1px solid #000;
    padding: 3px;
}

table.inside th {
    background: #32404f;
    color: #fff;
    padding: 3px;
    font-weight: 100;
}

td.sha {
    background: #f2f2f2;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    padding: 10px 0px;
    font-family: 'Avenir LT Std', "Open Sans" !important;
    font-weight: 100;
    border: 1px solid #897f4a;
    width: 80%;
    margin: 80px auto;
}

h3 {
    font-size: 24px;
    font-weight: 300;
    color: #897f4a;
}

h4 {
    font-family: 'Avenir LT Std';
    color: #897f4a;
    font-size: 18px;
    font-weight: 300;

}

table.bias {
    width: 694px;
}

table.biasl {
    border: 4px solid #000;
    padding: 5px;
}

table.biasl td{
    vertical-align: middle;
}

table.bias th{
    border-top: 4px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 4px solid #000000;
    padding: 3px 6px;
}

table.bias th.first {
    border-left: 4px solid #000000;
}


table.bias th.last{
    border-right: 4px solid #000000;
    padding: 3px 5px;
}

table.bias td{
    border: 1px solid #897f4a;
    padding: 4px;
}

table.bias td.img{
    vertical-align: middle;
    text-align: center;
    background: #0f4035;
    font-size: 13px;
}

table.bias td.last, table.bias th.last {
    background: #18aa89;
    color: #fff;
}


/*Trust table*/
table.trust {
    width: 694px;
}

table.trustl {
    border: 4px solid #000;
    padding: 5px;
}

table.trustl td{
    vertical-align: middle;
}

table.trust th{
    border-top: 4px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 4px solid #000000;
    padding: 3px 6px;
}

table.trust th.first {
    border-left: 4px solid #000000;
}


table.trust th.last{
    border-right: 4px solid #000000;
    padding: 3px 5px;
}

table.trust td{
    border: 1px solid #897f4a;
    padding: 4px;
}

table.trust td.img{
    vertical-align: middle;
    text-align: center;
    background: #00343d;
}

table.trust td.last, table.trust th.last {
    background: #00343d;
    color: #fff;
}

td.page2 {
    background: #32404f;
    color: #fff;
    padding: 7px;
}
td.page2 p {

    font-size: 13px;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
}


td.page2 p span{
    color: #897f4a
}


td.page4 h3 {
    font-size: 21px;
    font-weight: 600;
    color: #897f4a;
    margin: 5px 0px 20px;
    font-family: Times New Romen;
}


td.page5 h3 {
    font-size: 16px;
    font-weight: 600;
    color: #897f4a;
    text-align: left;
    font-family: 'Avenir LT Std'!important;

}

h3.page1 {
    line-height: 30px;
}

table.bias h4 {
    font-size: 16px;
}

p.italic {
    font-style: italic;
    color: #897f4a;
    font-size: 14px;
}

td.page11 p {
    color: #897f4a;

}

h4.serif {
    font-family: "Times New Roman";
    color: #000;
    font-weight: 100;
}

.pbox {
    border: 4px solid #897f4a;
    padding: 0px 10px;
}

.pbox h4, .pbox2 h4 {
    margin: 20px 0px 0px 0px;
}

.pbox2 {
    border: 4px solid #ffce6e;
    padding: 0px 10px;
}

.pbox3 {
    border: 4px solid #897f4a;
    padding: 0px 20px;
    color: #897f4a;
}

td.page15 p span {
    font-style: italic;
    font-weight: bold;
}

.pbox4 {
    border: 4px solid #897f4a;
    padding: 0px 20px;
    color: #897f4a;
    margin-top: 150px;
}

table.key img {
    border: 1px solid #000;
    width: 32px;
}