@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Light.eot');
    src: url('fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/AvenirLTStd-Light.woff2') format('woff2'),
    url('fonts/AvenirLTStd-Light.woff') format('woff'),
    url('fonts/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


body {
    font-family: 'Avenir LT Std'!important;
    font-weight: 300;
    font-style: normal;
    color: #555657;
    font-size: 15px;
    line-height: 22px;
}


table {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Avenir LT Std'!important;

}

.page {
    page-break-after: always;
    page-break-inside: avoid;
}

td {
    vertical-align: top;
}

table.one {
    text-align: center;
}

table.internal {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    height: 1280px;
}

table.section-internal {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}


td.sha {
    background: #f2f2f2;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

h2.code {
    text-align: left;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
    color: #897f4a;
}

h3 {
    font-size: 24px;
    font-weight: 300;
    color: #897f4a;
}

h4 {
    font-family: 'Avenir LT Std';
    color: #897f4a;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;

}

p.primary {
    color: #897f4a;
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
   list-style: none;
    font-size: 18px;
    line-height: 40px;
}

li:before {
    content: "• ";
    color: #897f4a;
    padding-right: 10px;
}




/*Sections*/
.footer {
    text-align: center;
    font-family: "Times New Roman";
}




/*Page One ########################################*/

p.logo  {
    color: #897f4a;
    font-size: 18px;
    margin-top: 70px;
}

h1 {
    padding: 10px 0px;
    font-family: 'Avenir LT Std', "Open Sans" !important;
    font-weight: 100;
    border: 1px solid #897f4a;
    width: 70%;
    margin: 100px auto;
    color: #413c25;
    font-size: 30px;
}

h3.page1 {

    line-height: 36px;
    font-size: 30px;
    font-weight: 400;
    color: #897f4a;

}


/*Page Two ########################################*/
p {
    line-height: 28px;
    font-size: 18px;
    text-align: justify;
}


/*Page Three #####################################*/

.page3-title {
    text-align: center;
    margin-bottom: -100px;
}

.page3-title h4 {
    margin-bottom: 0px;
}

td.page3 {
    background: #32404f;
    color: #fff;
    padding: 7px;
}
td.page3 p {
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

td.page3 p span{
    color: #897f4a
}

/*Page Four #####################################*/

table.page4-internal {
    width: 1000px;
    margin: auto;
    border: 7px solid #666666;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 18px;
}

table.page4-internal-second {
    width: 100%;
    margin: auto;
    border: none;
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 0px;
}

table.page4-internal h4{
    text-align: center; margin: 10px 0px 20px;
}

table.inside {
    margin: 10px 0px;
}

table.inside td {
    border: 1px solid #000;
    padding: 0px 3px;
    font-size: 13px;
}

table.inside th {
    background: #32404f;
    color: #fff;
    padding: 3px;
    font-weight: 100;
}


/*Page Five #####################################*/

h4.page5 {
    background: #1d2638;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px 0px 5px;
}

table.page5-internal {
    color: #5c5f60;
    font-family: Arial!important;
    font-size: 16px;
    margin-bottom: 0px;
}

table.page5-internal-second {

}


/*Page Six #####################################*/

h4.key {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 70px;
}

.key-investment {
    border: 6px solid #897f4a;
    padding: 10px 20px;
}

.key-investment > p {
    line-height: 35px;
}

.key-investment > p > span {
    color: #897f4a;
    padding-right: 12px;
}


/*Page Seven #####################################*/

table.bias {
    width: 100%;
    line-height: 20px;
}

table.bias td {
    height: 20px;
}

table.bias h4 {
    line-height: 16px;
    text-transform: none!important;
    font-size: 20px;
}

table.biasl {
    border: 4px solid #000;
    padding: 5px;
}

table.biasl td{
    vertical-align: middle;
}

table.bias th{
    border-top: 4px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 4px solid #000000;
    padding: 3px 6px;
}

table.bias th.first {
    border-left: 4px solid #000000;
}


table.bias th.last{
    border-right: 4px solid #000000;
    padding: 3px 5px;
}

table.bias td{
    border: 1px solid #897f4a;
    padding: 4px;
}



table.bias td.last, table.bias th.last {
    background: #293846;
    color: #fff;
    border-left: 0px solid #ffffff;
}

table.bias td.img {

    text-align: center;
    padding: 3px 3px 0px

}


/*Page Nine #####################################*/

ul.nine {
    margin: 0 0 10px 0;
    padding: 0;
}

ul.nine li {
    list-style: none;
    font-size: 18px;
    line-height: 35px;
}


/*Page Eleven #####################################*/
.page10 {
    margin-top:30px;
}

.page10 > p {
    line-height: 35px;
}

.page10 > p > span {
    color: #897f4a;
    padding-right: 12px;
}

.page10-second {
    border: 6px solid #897f4a;
    padding: 10px 20px
}



/*Page Twelve #####################################*/




table.trust h4 {
    line-height: 16px;
    text-transform: none!important;
    font-size: 20px;
}

table.trust {
    width: 100%;
}

table.trustl {
    border: 4px solid #000;
    padding: 5px;
}

table.trustl td{
    vertical-align: middle;
}

table.trust th{
    border-top: 4px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 4px solid #000000;
    padding: 3px 6px;
}

table.trust th.first {
    border-left: 4px solid #000000;
}


table.trust th.last{
    border-right: 4px solid #000000;
    padding: 3px 5px;
}

table.trust td{
    border: 1px solid #897f4a;
    padding: 4px;
}

table.trust td.img{
    text-align: center;
    padding: 3px 3px 0px
}

table.trust td.img img{
    width: 100%;
    height: 65px;
}

table.trust td.last, table.trust th.last {
    background: #00343d;
    color: #fff;
}


/*Page Fourteen #####################################*/


.page14 {
    margin-top:0px;
}

.page14 > p {
    line-height: 33px;
}

.page14 > p > span {
    color: #897f4a;
    padding-right: 12px;
}


ul.fourteen li {
    list-style: none;
    font-size: 18px;
    line-height: 32px;
}

ul.fourteen {
    margin-bottom: 20px;
}























td.page4 h3 {
    font-size: 21px;
    font-weight: 600;
    color: #897f4a;
    margin: 5px 0px 20px;
    font-family: Times New Romen;
}


td.page5 h3 {
    font-size: 16px;
    font-weight: 600;
    color: #897f4a;
    text-align: left;
    font-family: 'Avenir LT Std'!important;

}



table.bias h4 {
    font-size: 16px;
}

p.italic {
    font-style: italic;
    color: #897f4a;
    font-size: 14px;
}

td.page11 p {
    color: #897f4a;

}

h4.serif {
    font-family: "Times New Roman";
    color: #000;
    font-weight: 100;
}

.pbox {
    border: 4px solid #897f4a;
    padding: 0px 10px;
}

.pbox h4, .pbox2 h4 {
    margin: 20px 0px 0px 0px;
}

.pbox2 {
    border: 4px solid #ffce6e;
    padding: 0px 10px;
}

.pbox3 {
    border: 4px solid #897f4a;
    padding: 0px 20px;
    color: #897f4a;
}

td.page15 p span {
    font-style: italic;
    font-weight: bold;
}

.pbox4 {
    border: 6px solid #897f4a;
    padding: 0px 20px;
    color: #897f4a;
    margin-top: 150px;
}

table.key img {
    border: 1px solid #000;
    width: 32px;
}

div.page
{
    page-break-after: always;
    page-break-inside: avoid;
}
